<% counters = current_theme.the_field_grouped('counters_items', true, true).first %>
<% if counters.size > 0 %>
<!-- Counter -->
<div class="iq-pt-80 iq-counter-box iq-bg iq-bg-fixed iq-over-black-80 iq-font-white" style="background: url(<%= theme_img_url 'meeting.jpg' %>);">
  <div class="container">
    <div class="row">
      <% counters.each do |counter| %>
        <div class="col-lg-3 col-md-3 col-sm-6 text-left">
          <div class="counter"> <i class="<%= counter[:icon] %>" aria-hidden="true"></i>
            <label class="iq-font-white text-uppercase"><%= raw counter[:title] %></label>
            <span class="timer iq-tw-7 iq-font-blue" data-to="<%= counter[:datato] %>" data-speed="10000">0</span>
          </div>
        </div>
      <% end %>
    </div>
    <div class="counter-info iq-mt-60 iq-pt-40">
      <div class="row">
        <div class="col-md-6">
          <%= raw current_theme.the_field('counters_descr')%>
          <a href="#call-popup" class="button bt-white iq-mt-15 iq-mb-30 open-popup-link"><%= t("camaleon_cms.buttons.free_consultation") %></a>
        </div>

        <div class="col-md-6">
          <% unless current_theme.the_field('counters_banner').blank? %>
            <div class="counter-info-img">
              <img class="center-block" src="<%= current_theme.the_field('counters_banner') %>" alt="">
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Counter END -->
<% end %>