<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s  %>">
<head>
  <%= render partial: 'partials/head_analytics' %>

  <title><%= current_site.the_title %></title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <%= stylesheet_pack_tag 'funnellm' %>
  <%= raw the_head %>
</head>
<body>
<%= render partial: 'partials/analytics' %>

<!-- Main Content -->
<%= c('funnels/funnellm')%>

<script>
    var theme_utils_path = '<%= javascript_path theme_asset_path ("js/utils.js") %>';
</script>
<%= javascript_pack_tag "funnellm" %>
</body>
</html>
