<!DOCTYPE html>
<html lang="<%= I18n.locale.to_s %>">
<head>
    <%= render partial: 'partials/head_analytics' %>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <%= raw the_head %>

  <%= stylesheet_pack_tag 'application' %>
</head>
<body data-spy="scroll" data-offset="80" <%= 'class="home-page"'.html_safe if is_home? %>>
<%= render partial: 'partials/analytics' %>
<%= cache do %>
 <%= c('header')%>
<% end %>

 <!-- ./header -->
 <% # Home banner section %>

 <!-- Main Content -->
 <div class="main-content">
   <%= yield %>
 </div>
 <!-- Main Content END -->
 <%= c('footer')%>
 <%= c('callback_form')%>

 <script>
   var theme_utils_path = '<%= javascript_path theme_asset_path ("js/utils.js") %>';
 </script>

 <%= javascript_pack_tag "application" %>

</body>
</html>
