<!DOCTYPE html>
<html lang="en">
<head>
    <%= render partial: 'partials/head_analytics' %>

    <title><%= current_site.the_title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <%= stylesheet_pack_tag 'application' %>
    <%= raw the_head %>
    <script>
        FontAwesomeConfig = { searchPseudoElements: true };
    </script>
</head>
<body data-spy="scroll" data-offset="80" <%= "class=portfolio-page" if @post_type.present? && @post_type.the_slug == "portfolio"%>>

 <%= c('header')%>

 <!-- ./header -->
 <% # Home banner section %>

 <!-- Main Content -->
 <div class="main-content">
   <%= yield %>
 </div>
 <!-- Main Content END -->
 <%= c('footer')%>
 <%= c('callback_form')%>

 <script>
   var theme_utils_path = '<%= javascript_path theme_asset_path ("js/utils.js") %>';
 </script>

 <%= javascript_pack_tag "application" %>

</body>
</html>
