<div id="portfolio" class="porfolio-main">
  <div class="paralax-block">
    <div class="porftolio-bg__1" style="<%= get_background_color @post.the_field('potfolio_background1')%>"></div>
    <div class="porftolio-bg__2" style="<%= get_background_color @post.the_field('potfolio_background2')%>"></div>
    <div class="porftolio-bg__3" style="<%= get_background_color @post.the_field('potfolio_background3')%>"></div>
  </div>

  <section class="porfolio-main__wrap">
    <div class="porfolio-main__wrap-left text-center col-flex-md-6 view-check" data-vp-add-class="animated fadeInLeft">

      <%= image_tag @post.the_field('portfolio_logo'), alt: @post.the_title %>
      <h1><%= @post.the_title %></h1>
      <h3> <%= raw t("camaleon_cms.project_type.#{@post.the_field("project_type")}") %></h3>
      <%= raw @post.the_field('portfolio_top_descr') %>
      <% unless @post.the_field('potfolio_url').blank? %>
        <div class="button-container">
          <a href="<%= @post.the_field('potfolio_url') %>" target="_blank" style="<%= get_background_color @post.the_field('potfolio_button')%>" class="button w-button">
            <strong><%= t("camaleon_cms.portfolio.result_button") %>:</strong> <%= @post.the_field('potfolio_url') %>
          </a>
        </div>
      <% end %>
    </div>
    <div class="porfolio-main__wrap-right col-flex-md-6 view-check" data-vp-add-class="animated fadeInRight">
      <div class="screenshot">
        <%= image_tag @post.the_field('portfolio_top_img'), alt: "" %>
      </div>
    </div>
  </section>

  <section class="porfolio-main__full-wrap">
    <div class="porfolio-main__wrap-left col-flex-md-6 view-check" data-vp-add-class="animated fadeInLeft">
      <div class="screenshot">
        <%= image_tag @post.the_field('purpose_img'), alt: "" %>
      </div>
    </div>
    <div class="porfolio-main__wrap-right col-flex-md-6 iq-p-50-100 view-check" data-vp-add-class="animated fadeInRight">
      <h2><%= raw @post.the_field('purpose_title') %></h2>
      <div class="row">
        <div class="col-md-10">
          <%= raw @post.the_field('purpose_descr') %>
        </div>
      </div>
    </div>
  </section>

  <% unless @post.the_field('mobile_view_thumb').blank? && @post.the_field('mobile_view_img').blank? %>
    <section class="porfolio-main__wrap valign-top">
      <div class="porfolio-main__wrap-left col-flex-md-6 view-check" data-vp-add-class="animated fadeInLeft">
        <h2><%= raw @post.the_field('mobile_view_title') %></h2>
        <%= raw @post.the_field('mobile_view_descr') %>
        <div class="ipad__mockup">
          <%= image_tag @post.the_field('mobile_view_thumb'), alt: "" %>
        </div>
      </div>
      <div class="porfolio-main__wrap-right col-flex-md-6 view-check" data-vp-add-class="animated fadeInRight">
        <%= image_tag @post.the_field('mobile_view_img'), alt: "" %>
      </div>
    </section>
  <% end %>

  <section class="porfolio-main__content text-center view-check" data-vp-add-class="animated fadeInUp">
    <h2><%= raw @post.the_field('features_title') %></h2>
    <%= raw @post.the_field('features_descr') %>
    <p class="screenshot">
      <%= image_tag @post.the_field('features_img'), alt: "" %>
    </p>
    <br>
    <%= raw @post.the_field('features_descr2') %>
  </section>

  <% dynamic_list = @post.the_field_grouped('features_dynamic_list', true, true).first %>
  <% unless empty_field_group? dynamic_list %>
    <div class="bulit-container">
      <div class="bulit-block">
        <% dynamic_list.each do |item| %>
          <div class="bulit-block__item view-check" data-vp-add-class="animated <%= cycle("fadeInLeft", "fadeInUp", "fadeInRight") %>">
            <div class="bulit-block__title">
              <h3><%= raw item[:title] %></h3>
            </div>
            <div class="bulit-block__img">
              <%= image_tag item[:image], alt: item[:title] %>
            </div>
            <div class="bulit-block__text">
              <%= raw item[:descr] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <% results = @post.the_field_grouped('results_dynamic_list', true, true).first %>
  <% unless empty_field_group? results %>
    <div class="bulit-container view-check" data-vp-add-class="animated fadeInUp">
      <div class="bulit-container__header">
        <h2><%= raw @post.the_field('results_title') %></h2>
      </div>
      <div class="bulit-block shadow-off">
        <% results.each do |item| %>
          <div class="bulit-block__item">
            <div class="bulit-block__img">
              <%= image_tag item[:image], alt: item[:title] %>
            </div>
            <div class="bulit-block__title">
              <h3><%= raw item[:title] %></h3>
            </div>
            <div class="bulit-block__text">
              <%= raw item[:descr] %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <section class="responsive-block view-check" data-vp-add-class="animated fadeInUp">
    <div class="container text-center">
      <h2><%= raw @post.the_field('bottom_title') %></h2>
      <div class="responsive-block__img">
        <%= image_tag @post.the_field('bottom_img'), alt: "" %>
      </div>
    </div>
  </section>
</div>