<% services = current_theme.the_field_grouped('services_items', true, true).first %>
<% unless services.blank? %>
  <!-- Tab Features -->
  <div id="features" class="iq-amazing-tab grey-bg">
    <div class="container">
      <div class="heading-title iq-mt-40">
        <h3 class="title iq-tw-7"><%= raw current_theme.the_field('services_title') %></h3>
        <%= raw current_theme.the_field('services_descr') %>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div>
            <!-- Nav tabs -->
            <ul id="iq-amazing-tab" class="nav nav-tabs" role="tablist">
              <% services.each_with_index do |service, i| %>
                <% id = "service_#{i}" %>
                <li role="presentation" class="<%= 'active1' if i == 0 %>">
                  <a href="#<%= id %>" aria-controls="<%= id %>" role="tab" data-toggle="tab">
                    <i aria-hidden="true" class="<%= service[:icon] %>"></i>
                    <span><%= raw service[:title] %></span>
                  </a>
                </li>
              <% end %>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content iq-mt-50">
              <% services.each_with_index do |service, i| %>
                <% id = "service_#{i}" %>
                <div role="tabpanel" class="tab-pane <%= 'active' if i == 0 %>" id="<%= id %>">
                  <h2 class="iq-tw-6 iq-mb-25"><%= raw service[:subtitle]%></h2>
                  <p class="iq-font-15"><%= raw service[:descr]%></p>
                  <div class="row-flex">
                    <div class="col-md-8 col-md-push-4">
                      <%= raw service[:list]%>
                    </div>
                    <div class="col-md-4 col-md-pull-8 text-center aline-item-center no-padding">
                      <%= image_tag service[:image], class: "img-responsive center-block", alt: service[:title] %>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Tab Features END -->
<% end %>