<div id="landingShop">

</div>

<div class="form-subscribe">
  <div class="container small">
    <div class="form-header">
      <h2 class="form-header__h2">Заполните форму и узнайте как повысить конверсию интернет-магазина</h2>
      <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
    </div>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form">
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name" data-name="Name" placeholder="Имя" id="name">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone" data-name="phone" placeholder="*Номер телефона" id="phone" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email" data-name="Email" placeholder="*E-mail" id="email" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="fomr-submit"><input type="submit" value="бесплатная консультация" data-wait="Please wait..." class="btn w-button">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
<div class="quote">
  <div class="container small">
    <div class="quote-body">
      <div class="quote-decor"></div>
      <p class="paragraph-2">Одностраничный интернет-магазин в кратчайшие сроки привлечет внимание покупателей даже к самому «залежалому» товару. В случае плохого спроса на продукт, нужно просто поместить его на отдельную страницу  и дело сразу пойдет на лад.</p>
      <p class="paragraph">Дефицит - двигатель торговли!</p>
    </div>
    <div class="quote-footer">
      <div class="wright-top">
        <div class="wright-name">Максим Ларин</div><img src="<%= theme_img_url "funnel_shop/larin.png" %>" class="wrigther"></div>
      <div class="wright-type">Владелец сети интернет- магазинов</div>
    </div>
  </div>
  <div class="wrighter_person"></div>
</div>
<div class="choice">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">Разница одностраничного магазина от обычного</h2>
    </div>
    <div class="choice-row i-title">
      <div class="choice-col">
        <div class="speed-block">
          <div data-w-id="813efc23-467e-a8f4-15f0-fc644daf8f1f" class="speed-arrow"></div>
        </div>
        <div class="choice-title"><span class="yellow">ОБЫЧНЫЙ</span><br>ИНТЕРНЕТ-МАГАЗИН</div>
      </div>
      <div class="choice-col i-hidden"></div>
      <div class="choice-col">
        <div class="speed-block high">
          <div data-w-id="273e048e-da37-08b0-45cf-7424bb6c637e" class="speed-arrow high"></div>
        </div>
        <div class="choice-title"><span class="yellow">ОДНОСТРАНИЧНЫЙ</span><br>ИНТЕРНЕТ-МАГАЗИН</div>
      </div>
    </div>
    <div class="choice-row">
      <div class="choice-col right">
        <p class="i-opacity-1">Слишком широкий ассортимент может превратить в непосильную задачу даже покупку зубной пасты. Когда у человека слишком много вариантов, он предпочтет самый безопасный из них — <span class="yellow">не выберет ничего</span>.</p>
      </div>
      <div class="choice-col center">
        <div class="choice-title__sub">Проблема выбора</div>
        <div class="icon-block">
          <div class="line-block"></div>
          <div class="border-block">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
            <div class="choice-ico"></div>
          </div>
          <div class="line-block"></div>
        </div>
      </div>
      <div class="choice-col">
        <p class="i-wihte"><span class="yellow">Фокус</span> внимания идет только <span class="yellow">на один товар</span>, возможно с цветовыми или размерными вариациями - меньший выбор значительно повышает продажи.</p>
      </div>
    </div>
    <div class="choice-row">
      <div class="choice-col right">
        <p class="i-opacity-1">У посетителя интернет-магазина разбегаются глаза, как только он видит многостраничный каталог, сложную навигацию, рекламные баннера, множество акционных предложений. Он <span class="yellow">забывает, зачем</span> же к вам заглянул, и в результате <span class="yellow">может уйти без покупки</span>.</p>
      </div>
      <div class="choice-col center">
        <div class="choice-title__sub">Отвлекающий фактор</div>
        <div class="icon-block">
          <div class="line-block"></div>
          <div class="border-block">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="choice-ico"></div>
          </div>
          <div class="line-block"></div>
        </div>
      </div>
      <div class="choice-col">
        <p class="i-wihte">В одностраничном интернет-магазине намеренно <span class="yellow">устраняются все отвлекающие факторы</span>, внимание посетителя акцентируется на товаре и направлен на 1 действие. Потенциальный покупатель сразу понимает, куда он попал и что теперь делать.</p>
      </div>
    </div>
    <div class="choice-row">
      <div class="choice-col right">
        <p class="i-opacity-1"><span class="yellow">Громоздкие формы</span> регистрации и  длинная цепочка для оформления заказа - <span class="yellow">отталкивают покупателя</span> от завершения покупки</p>
      </div>
      <div class="choice-col center">
        <div class="choice-title__sub">Достижение цели</div>
        <div class="icon-block">
          <div class="line-block"></div>
          <div class="border-block">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="choice-ico"></div>
          </div>
          <div class="line-block"></div>
        </div>
      </div>
      <div class="choice-col">
        <p class="i-wihte"><span class="yellow">Достаточно оставить</span> свой <span class="yellow">номер телефона</span> и отдел продаж возьмет всю работу по оформлению заказа на себя</p>
      </div>
    </div>
    <div class="decor-text">Разница</div>
  </div>
  <div class="decor-sep"></div>
</div>
<div class="problem-block">
  <div class="container small">
    <div class="block-header">
      <h2 class="heading">в бизнесе «застой»?  продажи не растут?  заявок через Интернет не прибавляется?</h2>
      <h3 class="heading i-h3">МЫ поможем РЕШИМ ВАШУ ПРОБЛЕМУ!</h3>
    </div>
  </div>
  <div class="conveer-block">
    <div class="macbook">
      <div class="macscreen"><img src="<%= theme_img_url "funnel_shop/problem-screen.png" %>"></div>
    </div>
  </div>
</div>
<div class="form-subscribe i-color-problem">
  <div class="container small">
    <div class="form-header">
      <h2 class="form-header__h2">просто Заполните форму и мы обязательно вам поможем</h2>
      <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
    </div>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form">
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Имя" id="name-2">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone-2" data-name="Phone 2" placeholder="*Номер телефона" id="phone-2" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="*E-mail" id="email-2" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="fomr-submit"><input type="submit" value="бесплатная консультация" data-wait="Please wait..." class="btn w-button">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
<div class="hards">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">какие потери у ОБЫЧНОГО интернет-магазина?</h2>
    </div>
    <div class="decor-text">потери</div>
    <div class="problem-cols">
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">ТЕРЯЕТСЯ ВРЕМЯ</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li>- Минимум <span class="big-text yellow">20</span><span class="yellow"> минут</span> менеджеры тратят <span class="yellow">на</span> убеждение <span class="yellow">1</span> <span class="yellow">клиента</span> купить товар, описывая его  преимущества</li>
              <li>- Минимум <span class="big-text yellow">14</span> <span class="yellow">дней</span> до возможности отследить прямую зависимость между<span class="yellow"> 1 изменением</span> на сайте и показателями конверсии</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p1">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">ТЕРЯЮТСЯ ВОЗМОЖНОСТИ</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li>- Минимум <span class="big-text yellow">30%</span> <span class="yellow">посетителей</span> доводят покупку до корзины, не завершая ее</li>
              <li>- Минимум <span class="big-text yellow">16%</span> <span class="yellow">посетителей</span> не обращают внимание на акционные баннеры</li>
              <li>- Минимум <span class="big-text yellow">65%</span> <span class="yellow">заинтересовавшихся</span>, но не оставивших свои контакты из-за сложности регистрации, потеряны навсегда сложности регистрации, <span class="yellow">потеряны навсегда</span></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="problem-item">
        <div class="row">
          <div class="col">
            <div class="pint-doted p2">
              <div class="point-decor">
                <div class="c1">
                  <div class="c2"></div>
                </div>
              </div>
              <div class="doted"></div>
            </div>
          </div>
          <div class="col">
            <div class="problem-item__title">ТЕРЯЮТСЯ ДЕНЬГИ</div>
          </div>
        </div>
        <div class="row">
          <div class="col"></div>
          <div class="col">
            <ul class="w-list-unstyled">
              <li>- Минимум <span class="big-text yellow">70%</span> <span class="yellow">отказов</span> от покупки из-за различных факторов</li>
              <li>- Минимум <span class="big-text yellow">40</span> <span class="yellow">грн</span> стоит 1 клик по высокочастотному запросу, необходимому для продвижения обычного интернет-магазина</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="gains">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">ВЫГОДЫ ОДНОСТРАНИЧНОГО ИНТЕРНЕТ-МАГАЗИНА</h2>
    </div>

    <div class="decor-text">ВЫгоды</div>
    <div class="text-right-padding">
      <p>Сайт должен <span class="yellow">эффективно</span> превращать посетителей в покупателей - с этим <span class="yellow">идеально справляется</span> одностраничный интернет-магазин. <br>Клиенту не надо ничего искать дополнительно: <span class="yellow">вся информация</span> о товаре, магазине, оплате и доставке расписана подробно <span class="yellow">на одной странице.</span></p>
    </div>
    </div>


  <div id="trigger1"></div>
    <div id="pin1">
      <div class="slider">
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"><img src="<%= theme_img_url "funnel_shop/piggy-bank.png" %>"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Экономия времени и денег:</h2>
                    <ol class="list-numbers">
                      <li>Работа по конкретным релевантным, недорогим, низкочастотным запросам + Таргетирование рекламы</li>
                      <li>Возможность мгновенно отследить прямую зависимость между изменениями  и показателем</li>
                      <li>Возможноть тиражирования сайта под несколько товаров за 25%  стоимости</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"><img src="<%= theme_img_url "funnel_shop/piggy-bank.png" %>"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Экономия времени и денег:</h2>
                    <ol class="list-numbers">
                      <li>Работа по конкретным релевантным, недорогим, низкочастотным запросам + Таргетирование рекламы</li>
                      <li>Возможность мгновенно отследить прямую зависимость между изменениями  и показателем</li>
                      <li>Возможноть тиражирования сайта под несколько товаров за 25%  стоимости</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"><img src="<%= theme_img_url "funnel_shop/piggy-bank.png" %>"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Экономия времени и денег:</h2>
                    <ol class="list-numbers">
                      <li>Работа по конкретным релевантным, недорогим, низкочастотным запросам + Таргетирование рекламы</li>
                      <li>Возможность мгновенно отследить прямую зависимость между изменениями  и показателем</li>
                      <li>Возможноть тиражирования сайта под несколько товаров за 25%  стоимости</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"><img src="<%= theme_img_url "funnel_shop/piggy-bank.png" %>"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Экономия времени и денег:</h2>
                    <ol class="list-numbers">
                      <li>Работа по конкретным релевантным, недорогим, низкочастотным запросам + Таргетирование рекламы</li>
                      <li>Возможность мгновенно отследить прямую зависимость между изменениями  и показателем</li>
                      <li>Возможноть тиражирования сайта под несколько товаров за 25%  стоимости</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div  class="slider-item">
                <div class="slider-item__mac">
                  <div class="slider-item__mac-icon"><img src="<%= theme_img_url "funnel_shop/piggy-bank.png" %>"></div>
                </div>
                <div class="slider-item__content">
                  <div class="slider-item__content-txt">
                    <h2 class="heading-2">Экономия времени и денег:</h2>
                    <ol class="list-numbers">
                      <li>Работа по конкретным релевантным, недорогим, низкочастотным запросам + Таргетирование рекламы</li>
                      <li>Возможность мгновенно отследить прямую зависимость между изменениями  и показателем</li>
                      <li>Возможноть тиражирования сайта под несколько товаров за 25%  стоимости</li>
                    </ol>
                  </div>
                  <div class="slider-item__num">01</div>
                </div>
              </div>
            </div>
          </div>
          <!-- If we need pagination -->
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </div>


  <div class="decore-lamp"></div>
  <div class="gains-decor2"></div>
  <div class="gains-decor1"></div>
</div>
<div class="form-subscribe i-color-problem">
  <div class="container small">
    <div class="form-header">
      <h2 class="form-header__h2">просто Заполните форму и мы обязательно вам поможем</h2>
      <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
    </div>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form">
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Имя" id="name-2">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone-2" data-name="Phone 2" placeholder="*Номер телефона" id="phone-2" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="*E-mail" id="email-2" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="fomr-submit"><input type="submit" value="бесплатная консультация" data-wait="Please wait..." class="btn w-button">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
<div class="form-subscribe color1">
  <div class="container small">
    <div class="form-header center">
      <h2 class="form-header__h2">Заполните форму и узнайте как повысить конверсию интернет-магазина</h2>
    </div>
    <div class="w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form wrap">
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name-3" data-name="Name 3" placeholder="Имя" id="name-3">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone-3" data-name="Phone 3" placeholder="*Номер телефона" id="phone-3" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email-3" data-name="Email 3" placeholder="*E-mail" id="email-3" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="fomr-submit block">
          <div class="btn-wrapper"><input type="submit" value="ПОЛУЧИТЬ ИНДИВИДУАЛЬНЫЙ раСЧЕТ ПРОЕКТА" data-wait="Please wait..." class="btn w-button">
            <div class="angle-docore">
              <div class="angle">
                <div class="separator"></div>
                <div class="b1"></div>
              </div>
              <div class="angle tl">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle tr">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
              <div class="angle br">
                <div class="b1"></div>
                <div class="separator"></div>
              </div>
            </div>
          </div>
          <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
<div class="trump">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">особенности одностраничного ИНТЕРНЕТ-МАГАЗИНА</h2>
    </div>
    <div class="decor-text">особенности</div>
    <div class="trump-row">
      <div class="tramp-row-item">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">Полноценный сайт</h2>
            <p>Функционирует как полноценный сайт, благодаря созданию <span class="yellow">удобной панели для администирования</span>, позволяющей загружать и редактировать весь контент на нескольких языках.</p>
          </div>
          <div class="slider-item__num">1</div>
        </div>
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">расширенные возможности</h2>
            <p>Есть возможность загрузки <span class="yellow">различных</span> комплектаций, цветовых вариантов или размеров <span class="yellow">для одного товара</span>.</p>
          </div>
          <div class="slider-item__num">2</div>
        </div>
      </div>
      <div class="tramp-row-item right"><img src="<%= theme_img_url "funnel_shop/trump-img.png" %>"></div>
    </div>
  </div>
</div>
<div class="profit">
  <div class="container small">
    <div class="profit-row">
      <div class="profit-row-col col1">
        <div class="profit-img"><img src="<%= theme_img_url "funnel_shop/pro.png" %>" class="image-6"><img src="<%= theme_img_url "funnel_shop/profit2.png" %>" srcset="<%= theme_img_url "funnel_shop/profit2-p-500.png" %> 500w, <%= theme_img_url "funnel_shop/profit2.png" %> 629w" sizes="(max-width: 479px) 100vw, (max-width: 767px) 52vw, (max-width: 991px) 62vw, 48vw" class="profit-img-1">
          <div class="profit-arrow"></div>
        </div>
      </div>
      <div class="profit-row-col">
        <div class="profit-text">
          <div class="profit-decor"></div>
          <div class="problem-item__title">получайте больше прибыли</div>
          <p><span class="yellow">Ставьте эксперименты</span>, меняя местами информационные блоки. <br><span class="yellow">Анализируйте эффективность</span> информационных блоков. <br>Получайте больше прибыли.</p>
          <div class="variant-block">
            <div class="variant-label">Посетителей за день: <strong>120</strong></div>
            <div class="profit-sep">{</div>
            <div class="progress-container">
              <div class="progress-bar-tem">
                <div class="progress-bar">
                  <div class="progress-bar_in"></div>
                </div>
                <div class="progress-bar-text">
                  <div class="progress-bar-title">Вариант «А»</div>
                  <div class="progress-bar-text-label">Кол-во покупателей: <strong>19</strong></div>
                </div>
              </div>
              <div class="progress-bar-tem">
                <div class="progress-bar">
                  <div class="progress-bar_in"></div>
                </div>
                <div class="progress-bar-text">
                  <div class="progress-bar-title">Вариант «B»</div>
                  <div class="progress-bar-text-label">Кол-во покупателей: <strong>40</strong></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="trump">
  <div class="container small">
    <div class="trump-row p-t">
      <div class="tramp-row-item">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">Полная информация</h2>
            <p>Полученная менеджером <span class="yellow">информация</span>  из форм заказов <span class="yellow">содержит подробности</span> как в стандартном интернет-магазине: Название, цвет, размер, цена и т.д.;</p>
          </div>
          <div class="slider-item__num">3</div>
        </div>
      </div>
      <div class="tramp-row-item right">
        <div class="trump-item">
          <div class="trump-container">
            <h2 class="heading-3">интеграция с crm</h2>
            <p>Возможна <span class="yellow">интеграция с общей CRM системой</span> стандартного интернет-магазина, где <span class="yellow">заказы</span>, приходящие с одностраничного интернет-магазина, <span class="yellow">можно отфильтровать</span>;</p>
          </div>
          <div class="slider-item__num">4</div>
        </div>
      </div>
    </div>
    <div class="block-header i-big">
      <h2 class="heading">БОНУС ОДНОСТРАНИЧНОГО ИНТЕРНЕТ-МАГАЗИНА</h2>
      <div class="decor-text">ВАЖНО</div>
    </div>
    <div class="bonus-block">
      <div class="trump-row">
        <div class="tramp-row-item">
          <div class="bonus-text">
            <div class="text-block"></div>
            <div class="text-block-2">75%</div>
          </div>
        </div>
        <div class="tramp-row-item right">
          <h2 class="heading-3">это не акция -  это реальность!</h2>
          <p class="lineh">Благодаря возможности изменять весь контент, начиная с текста и заканчивая картинками, можно создать <span class="yellow">серию одностраничных интернет-магазинов</span>.</p>
          <p class="lineh">Идеально продуманный и грамотно разработанный одностраничный интернет-магазин, дает возможность <span class="yellow">продажи другого товара</span> с минимальным вмешательством разработчиков. Соответственно стоимость каждого следующего одностраничного интернет-магазина будет составлять всего <span class="text-span-2">25% от стоимости первого!</span></p>
        </div>
      </div>
    </div>
  </div>
  <div class="gains-decor2"></div>
</div>
<div class="form-subscribe i-color-problem">
  <div class="container small">
    <div class="form-header">
      <h2 class="form-header__h2">просто Заполните форму и мы обязательно вам поможем</h2>
      <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
    </div>
    <div class="form-block-3 w-form">
      <form id="email-form" name="email-form" data-name="Email Form" class="form">
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Имя" id="name-2">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone-2" data-name="Phone 2" placeholder="*Номер телефона" id="phone-2" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="*E-mail" id="email-2" required="">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
        <div class="fomr-submit"><input type="submit" value="бесплатная консультация" data-wait="Please wait..." class="btn w-button">
          <div class="angle-docore">
            <div class="angle">
              <div class="separator"></div>
              <div class="b1"></div>
            </div>
            <div class="angle tl">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle tr">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
            <div class="angle br">
              <div class="b1"></div>
              <div class="separator"></div>
            </div>
          </div>
        </div>
      </form>
      <div class="w-form-done">
        <div>Thank you! Your submission has been received!</div>
      </div>
      <div class="w-form-fail">
        <div>Oops! Something went wrong while submitting the form.</div>
      </div>
    </div>
  </div>
</div>
<div class="total">
  <div class="container">
    <h2 class="total-heder">многофункциональность системы</h2>
    <div class="sub-text">
      <p class="lineh">Много лендингов — система одна. Синхронизация с 1С, удобное <br>администрирование, быстрая обработка заказов и многое другое.</p><img src="<%= theme_img_url "funnel_shop/functional.png" %>" srcset="<%= theme_img_url "funnel_shop/functional-p-500.png" %> 500w, <%= theme_img_url "funnel_shop/functional.png" %> 948w" sizes="(max-width: 479px) 94vw, (max-width: 767px) 96vw, (max-width: 977px) 97vw, 948px"></div>
  </div>
</div>
<div class="quality">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">ВСЕГДА МОЩНЫЕ РЕЗУЛЬТАТЫ</h2>
      <div class="decor-text">КАЧЕСТВО</div>
    </div>
    <div class="decore-lamp"></div>
    <div class="text-right-padding">
      <p>Одностраничный интерне-магазин от <span class="yellow">SiteOn - это не просто дизайн</span>, верстка и программирование. <br><span class="yellow">Это решение</span> маркетинговых и бизнес-задач: финансовых и нефинансовых. Вы покупаете не просто человеко-часы, <span class="yellow">вы покупаете</span> наш <span class="yellow">опыт, екcпертизу и навык </span>создания качественных сайтов</p>
      <p class="yellow"><strong>По настоящему мощные результаты дает только комплексный подход к проекту!</strong></p>
    </div>
  </div>
</div>
<div class="slider2">
  <div class="container small">

    <div id="trigger2"></div>
    <div id="pin2">
        <div class="swiper-container">
          <!-- Additional required wrapper -->
          <div class="swiper-wrapper">
            <!-- Slides -->
            <div class="swiper-slide">
              <div class="trump-row p-b">
                <div class="tramp-row-item w-clearfix">
                  <div class="num-block">
                    <div class="num-block-title">
                      <div class="num-title-num">01</div>
                      <div class="num-title-text">маркетинг и аналитические<br>исследования</div>
                    </div>
                    <div class="num-container">
                      <div class="num-block-container">
                        <div class="num-inner">
                          <ol class="list-numbers">
                            <li>Изучение особенностей бизнеса;</li>
                            <li>Анализ конкурентов;</li>
                            <li>Исследования ЦА, ее болей и потребностей;</li>
                            <li>Разработка стратегии продаж.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="dashed"></div>
                    </div>
                    <div class="num-text">Для каждого проекта мы разрабатываем свою стратегию привлечения клиентов, только после глубинного анализа особенностей Вашего бизнеса и целевой аудитории.</div>
                  </div>
                </div>
                <div class="tramp-row-item right w-clearfix">
                  <div class="num-block right">
                    <div class="num-block-title">
                      <div class="num-title-num">02</div>
                      <div class="num-title-text">Разработка концепции <br>прототипирование</div>
                    </div>
                    <div class="num-container">
                      <div class="num-block-container">
                        <div class="num-inner">
                          <ol class="list-numbers">
                            <li>Использование маркетинговой составляющей;</li>
                            <li>Разработка прототипа страницы;</li>
                            <li>Создание УТП (уникального торгового  предложения)</li>
                            <li>Написание продающих текстов.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="dashed"></div>
                    </div>
                    <div class="num-text">Мы разрабатываем детальный UX прототип для каждого проекта, это позволяет избежать ошибок и составить идеальную структуру страницы перед этапом дизайна.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trump-row p-b">
                <div class="tramp-row-item w-clearfix">
                  <div class="num-block">
                    <div class="num-block-title">
                      <div class="num-title-num">01</div>
                      <div class="num-title-text">маркетинг и аналитические<br>исследования</div>
                    </div>
                    <div class="num-container">
                      <div class="num-block-container">
                        <div class="num-inner">
                          <ol class="list-numbers">
                            <li>Изучение особенностей бизнеса;</li>
                            <li>Анализ конкурентов;</li>
                            <li>Исследования ЦА, ее болей и потребностей;</li>
                            <li>Разработка стратегии продаж.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="dashed"></div>
                    </div>
                    <div class="num-text">Для каждого проекта мы разрабатываем свою стратегию привлечения клиентов, только после глубинного анализа особенностей Вашего бизнеса и целевой аудитории.</div>
                  </div>
                </div>
                <div class="tramp-row-item right w-clearfix">
                  <div class="num-block right">
                    <div class="num-block-title">
                      <div class="num-title-num">02</div>
                      <div class="num-title-text">Разработка концепции <br>прототипирование</div>
                    </div>
                    <div class="num-container">
                      <div class="num-block-container">
                        <div class="num-inner">
                          <ol class="list-numbers">
                            <li>Использование маркетинговой составляющей;</li>
                            <li>Разработка прототипа страницы;</li>
                            <li>Создание УТП (уникального торгового  предложения)</li>
                            <li>Написание продающих текстов.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="dashed"></div>
                    </div>
                    <div class="num-text">Мы разрабатываем детальный UX прототип для каждого проекта, это позволяет избежать ошибок и составить идеальную структуру страницы перед этапом дизайна.</div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="trump-row p-b">
                <div class="tramp-row-item w-clearfix">
                  <div class="num-block">
                    <div class="num-block-title">
                      <div class="num-title-num">01</div>
                      <div class="num-title-text">маркетинг и аналитические<br>исследования</div>
                    </div>
                    <div class="num-container">
                      <div class="num-block-container">
                        <div class="num-inner">
                          <ol class="list-numbers">
                            <li>Изучение особенностей бизнеса;</li>
                            <li>Анализ конкурентов;</li>
                            <li>Исследования ЦА, ее болей и потребностей;</li>
                            <li>Разработка стратегии продаж.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="dashed"></div>
                    </div>
                    <div class="num-text">Для каждого проекта мы разрабатываем свою стратегию привлечения клиентов, только после глубинного анализа особенностей Вашего бизнеса и целевой аудитории.</div>
                  </div>
                </div>
                <div class="tramp-row-item right w-clearfix">
                  <div class="num-block right">
                    <div class="num-block-title">
                      <div class="num-title-num">02</div>
                      <div class="num-title-text">Разработка концепции <br>прототипирование</div>
                    </div>
                    <div class="num-container">
                      <div class="num-block-container">
                        <div class="num-inner">
                          <ol class="list-numbers">
                            <li>Использование маркетинговой составляющей;</li>
                            <li>Разработка прототипа страницы;</li>
                            <li>Создание УТП (уникального торгового  предложения)</li>
                            <li>Написание продающих текстов.</li>
                          </ol>
                        </div>
                      </div>
                      <div class="dashed"></div>
                    </div>
                    <div class="num-text">Мы разрабатываем детальный UX прототип для каждого проекта, это позволяет избежать ошибок и составить идеальную структуру страницы перед этапом дизайна.</div>
                  </div>
                </div>
              </div>
            </div>
          </div>

        </div>

      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div class="gains-decor2"></div>
  <div class="gains-decor1"></div>
</div>
<div class="quality">
  <div class="container small">
    <div class="block-header i-big minus">
      <h2 class="heading">Выгодная инвестиция</h2>
      <div class="decor-text">цена</div>
    </div>
    <div class="decore-lamp"></div>
    <div class="text-right-padding">
      <p>Опытные бизнесмены знают точно - <span class="yellow">чтобы</span> серьезно <span class="yellow">зарабатывать, необходимо</span> соответсвенно <span class="yellow">инвестировать</span> в маркетинг и рекламу. Деньги, которые вы вкладываете в разработку - это депозит, который даст солидные дивиденды уже через месяц.</p>
    </div>
    <div class="form-row">
      <div class="form-row-col">
        <div class="num-block-title">Стоимость разработки одностраничного интернет-магазина зависит от многих факторов:</div>
        <p class="li-p"><span class="check"></span><span class="yellow">От самого товара</span> (если вы продаете Хомячка-повторюшку, то рынок перенасыщен и необходимо глубинное продумывание стратегии, чтобы продавался именно ваш хомячок)</p>
        <p class="li-p"><span class="check"></span><span class="yellow">От  количества разделов на сайте</span> (если у вас один товар, но его виды отличаются только комплектацией и стоимостью, то делать разные сайты нет нужды, а вот разделов на одностраничном интернет-магазине увеличится)</p>
        <p class="li-p"><span class="check"></span><span class="yellow">От уровня дизайна </span>(весь создаваемый нами дизайн высокого качества, но если вы захотите использовать, например, 3D в дизайне или дизайн нарисованный от руки, то стоимость будет выше)</p>
        <p class="li-p"><span class="check"></span><span class="yellow">От количества анимации и WOW-эффектов</span> (на реализацию каждого эффекта необходимо время нескольких специалистов, соответственно, чем больше эффектов - тем выше стоимость )</p>
        <p>Но из нашего многолетнего опыта можем резюмировать - средняя стоимость разработки одностраничного интернет-магазина варьируется от 1800$ - 3500$. Бывет как  выше, так и нижеЧтобы узнать стоимость вашего одностраничного магазина, просто оставьте заявку..</p>
      </div>
      <div class="form-row-col right">
        <div class="from-wrapper">
          <div class="form-block">
            <div class="problem-item__title">узнать стоимость одностраничного интернет-магазина</div>
            <div class="form-block-2 w-form">
              <form id="email-form" name="email-form" data-name="Email Form" class="form vertical">
                <div class="form-group p-t">
                  <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Имя" id="name-2">
                  <div class="angle-docore">
                    <div class="angle">
                      <div class="separator"></div>
                      <div class="b1"></div>
                    </div>
                    <div class="angle tl">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle tr">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle br">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group p-t">
                  <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone-2" data-name="Phone 2" placeholder="*Номер телефона" id="phone-2" required="">
                  <div class="angle-docore">
                    <div class="angle">
                      <div class="separator"></div>
                      <div class="b1"></div>
                    </div>
                    <div class="angle tl">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle tr">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle br">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                  </div>
                </div>
                <div class="form-group p-t">
                  <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="*E-mail" id="email-2" required="">
                  <div class="angle-docore">
                    <div class="angle">
                      <div class="separator"></div>
                      <div class="b1"></div>
                    </div>
                    <div class="angle tl">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle tr">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle br">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                  </div>
                </div>
                <div class="fomr-submit p-t"><input type="submit" value="узнать стоимость" data-wait="Please wait..." class="btn btn-big w-button">
                  <div class="angle-docore">
                    <div class="angle">
                      <div class="separator"></div>
                      <div class="b1"></div>
                    </div>
                    <div class="angle tl">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle tr">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                    <div class="angle br">
                      <div class="b1"></div>
                      <div class="separator"></div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="w-form-done">
                <div>Thank you! Your submission has been received!</div>
              </div>
              <div class="w-form-fail">
                <div>Oops! Something went wrong while submitting the form.</div>
              </div>
            </div>
            <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
          </div>
          <div class="dashed"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="garanty">
  <div class="container small">
    <div class="block-header i-big">
      <h2 class="heading">сотрудничать с нами безопасно</h2>
      <div class="decor-text">гарантии</div>
    </div>
    <div class="cols-4">
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Работаем по официальному договору, в котором каждый этап выполнения согласовывается с клиентом</p>
        </div>
      </div>
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Поэтапная оплата частями по мере выполнения и демонстрации работ</p>
        </div>
      </div>
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Вы получите все исходники и доступы к сайту после завершения работ</p>
        </div>
      </div>
      <div class="col-3">
        <div class="bulit-block">
          <div class="bulit-icon-big"></div>
          <p>Бесплатно консультируем заказчика и  поддерживаем сайт в течении 60-90 дней</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="reviews">
  <div class="container small">
    <div class="block-header i-big p-1">
      <h2 class="heading">сотрудничать с нами безопасно</h2>
      <div class="decor-text">гарантии</div>
    </div>
    <div class="comments-block">
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Позвольте поблагодарить Вас за отлично выполненную работу по созданию сайта terracotta.ua. Все работы были проведены.</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/ava.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Максим Бондарук</div>
              <div class="comments-titolo">Генеральный директор ПАО «Гостиница «Премьер Палас»</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Позвольте поблагодарить Вас за отлично выполненную работу по созданию сайта terracotta.ua. Все работы были проведены. Позвольте поблагодарить Вас за отлично выполненную работу по созданию сайта terracotta.ua. Все работы были проведены. Позвольте поблагодарить terracotta.ua...</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/ava.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Максим Бондарук</div>
              <div class="comments-titolo">Генеральный директор ПАО «Гостиница «Премьер Палас»</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
    </div>
    <div class="comments-block">
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Позвольте поблагодарить Вас за отлично выполненную работу по созданию сайта terracotta.ua. Все работы были проведены.</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/ava.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Максим Бондарук</div>
              <div class="comments-titolo">Генеральный директор ПАО «Гостиница <br>«Премьер Палас»</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
      <div class="comments-item">
        <div class="comments-item-wiper">
          <div class="comments-text">Позвольте поблагодарить Вас за отлично выполненную работу по созданию сайта terracotta.ua. Все работы были проведены. Позвольте поблагодарить Вас за отлично выполненную работу по созданию сайта terracotta.ua. Все работы были проведены. Позвольте поблагодарить terracotta.ua...</div>
          <div class="comments-footer">
            <div class="ava"><img src="<%= theme_img_url "funnel_shop/ava.jpg" %>"></div>
            <div class="footer-text">
              <div class="text-block-3">Максим Бондарук</div>
              <div class="comments-titolo">Генеральный директор ПАО «Гостиница <br>«Премьер Палас»</div>
            </div>
          </div>
          <div class="quote-decor"></div>
        </div>
        <div class="dashed yellow"></div>
      </div>
    </div>
  </div>
</div>
<div class="last-form">
  <h2 class="heading">сотрудничать с нами безопЕСЛИ У ВАС ОСТАЛИСЬ ВОПРОСЫ ИЛИ ВОЗНИКЛИ <br>ПОЖЕЛАНИЯ МЫ С УДОВОЛЬСТВИЕМ ВАС ВЫСЛУШАЕМ!</h2>
  <p>Если вам мало информации на этой странице,  давайте общаться напрямую!</p>
  <p>Просто заполните форму ниже, чтобы мы могли вам перезвонить и вы зададите все вопросы: <br>зачем, почему, сколько и т.д. нашему специалисту!</p>
  <div class="form-block-2 w-form">
    <form id="email-form" name="email-form" data-name="Email Form" class="form vertical">
      <div class="form-group p-t">
        <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="name-2" data-name="Name 2" placeholder="Имя" id="name-2">
        <div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div>
      </div>
      <div class="form-group p-t">
        <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="phone-2" data-name="Phone 2" placeholder="*Номер телефона" id="phone-2" required="">
        <div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div>
      </div>
      <div class="form-group p-t">
        <div class="icon-input"></div><input type="text" class="input-text w-input" maxlength="256" name="email-2" data-name="Email 2" placeholder="*E-mail" id="email-2" required="">
        <div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div>
      </div>
      <div class="fomr-submit p-t"><input type="submit" value="узнать стоимость" data-wait="Please wait..." class="btn btn-big w-button">
        <div class="angle-docore">
          <div class="angle">
            <div class="separator"></div>
            <div class="b1"></div>
          </div>
          <div class="angle tl">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle tr">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
          <div class="angle br">
            <div class="b1"></div>
            <div class="separator"></div>
          </div>
        </div>
      </div>
    </form>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
  <div class="center">
    <div class="lock"><span class="lok-ico"></span>Ваши данные надежно защищены</div>
  </div>
</div>
<div class="footer">
  <div class="container small">
    <div class="footer-items">
      <div class="footer-item"><span class="footer-icon"></span> г. Киев, переулок Ахтырский, 3</div>
      <div class="footer-item yellow"><span class="footer-icon"></span> +38(066) 419 11 25</div>
      <div class="footer-item yellow"><span class="footer-icon"></span> +38(098) 637 18 93</div>
      <div class="footer-item"><span class="footer-icon"></span> info@siteon.com.ua</div>
    </div>
  </div>
  <div class="footer-bottom"><a href="#" class="footer-link">Согласие с рассылкой</a><a href="#" class="footer-link">Политика конфиденциальности</a><a href="#" class="footer-link">Дисклеймер</a>
    <div class="coperate">© 2018 Все права защищены</div>
  </div>
</div>

