<% prices = current_theme.the_field_grouped('prices_items', true, true).first %>

<% if prices.size > 0 %>
  <!-- Affordable Price -->

  <section id="pricing" class="overview-block-ptb grey-bg iq-price-table">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="heading-title">
            <h3 class="title iq-tw-7"><%= raw current_theme.the_field('prices_title') %></h3>
            <%= raw current_theme.the_field('prices_descr') %>
          </div>
        </div>
      </div>
      <div class="row">
        <% prices.each_with_index  do |item, i|%>
          <% odd = (i % 2).zero? %>
          <div class="col-sm-4 col-md-4 <%= 'wow flipInY' if odd %>" <%= 'data-wow-duration="1s"' if odd %>>
            <div class="iq-pricing text-center">
              <div class="price-title iq-bg iq-over-blue-80" style="background: url(<%= theme_img_url "paralax.jpg" %>);">
                <h2 class="iq-font-white iq-tw-7"><small><%=  t("camaleon_cms.buttons.from") %> $</small><%= raw item[:price] %></h2>
                <span class="text-uppercase iq-tw-4 iq-font-white"><%= raw item[:title] %></span>
              </div>
              <%= raw item[:descr] %>
              <div class="price-footer">
                <a class="button open-popup-link" href="#call-popup"><%= t("camaleon_cms.buttons.purchase", name: item[:title]) %></a>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </section>

  <!-- Affordable Price END -->
<% end %>