<!-- Popup form  -->
<div id="call-popup" class="popup">
  <div class="popup__wraper">
    <div class="popup__content">
      <a href="#" class="popup__close" type="button">
        <span class="r1"></span>
        <span class="r2"></span>
      </a>

        <h2><%= t("camaleon_cms.callback_form.title") %></h2>
        <p><%= t("camaleon_cms.callback_form.subtitle") %></p>
      <form action="" class="validate-form">
        <div class="form-group">
          <input class="form-control" name="name" type="text" placeholder="<%= t("camaleon_cms.callback_form.name_placeholder") %>">
        </div>
        <div class="form-group">
          <input class="form-control" name="phone" type="tel" required placeholder="<%= t("camaleon_cms.callback_form.phone_placeholder") %>">
          <span class="valid-msg hide">✓ <%= t("camaleon_cms.callback_form.success") %></span>
          <span class="error-msg hide"><%= t("camaleon_cms.callback_form.failed") %></span>
        </div>
        <input class="bot-check" type="text" name="protect" value="">
        <div class="form-group button-group">
          <input type="submit" class="button full" value="<%= t("camaleon_cms.buttons.send") %>">
        </div>
      </form>
      <p class="form-note"><i class="fa fa-shield" aria-hidden="true"></i> <%= t("camaleon_cms.callback_form.policy") %></p>
    </div>
  </div>
</div>
<!-- Popup form End -->